/* 共通パーツ */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

h1 {
  font-family: 'Itim';
  font-weight: bold;
  color: #fff;
}

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}


/* ログインページ */

#login_all{
    background:#f1e8f4
}

.login_title{
    font-size: 60px;
    color: rgb(46, 39, 52);
    text-align: center;
}
#app{
    
}

.container{
    background:#ffffff;
    border-bottom:#ae88a5;
    border-bottom-style: dashed;
    border-top-right-radius: 30px;
    width: 30%;
    height: 78px;
    margin: auto;
}

.login_container{
    background:#ffffff;
    border-color: #ae88a5;
    border-width: 3px;
    border-style: dotted;
    width: 30%;
    margin: auto;
    margin-top: 10px;
}



.card{
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
}

.form-group{
    text-align: left;
}

.login_btn{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:flex-end;
}


#all{
    background:#f1e8f4;
}


.btn_blue{
    background-color: #838383;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
}

.btn_red{
    background-color: #f76c6c;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
/* ヘッダー */
#head{
    background:#4f1f49;
    min-width: 100vh;
}

.head_box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}

.login_user{
    font-weight: bold;
    color:#fff;
}

/* トップページ */
.box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.main_post{
    background-color: rgb(255, 255, 255);
    border: #cdb4c7;
    border-style:solid;
    border-left-width:10px;
    border-left-style:double;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

.main_post_item{
    display: flex;
    flex-wrap: nowrap;
    align-items:flex-end;
}

.main_post_user{
    font-weight: bold;
    font-size: 20px;
}
.main_post_action{
    display: flex;
    flex-wrap: nowrap;
}

.main_action{
    background-color: rgb(255, 205, 248);
    width: 300px;
    height: 600px;
    padding: 20px;
    margin-left: 65px;
    border: #ae88a5;
    border-style:solid;
    border-radius: 10px;
}

.main_action_category a{
    display: block;
}

.main_action_item_box{
    margin-top: 20px;
}

.main_action_search_box{
    margin-top: 20px;
}

.main_action_search_btn{
    text-decoration: none;
}

.main_action_fun_box{
    margin-top: 20px;
}

.title{
    color: black;
}

/* カテゴリーページ */

.category_box input label button{
    display: block;

}